/* Body */

body {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    margin:auto;
}


/* Header */

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

nav{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
}

nav ul{
    box-sizing: border-box;
    display:flex;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom: 30px;
}

nav ul li{
    box-sizing: border-box;
    display:inline-flex;
    justify-content:center;
    padding-top:30px;
    margin-top:2px;
    width: 148px;
    cursor:pointer;
}

nav a{
    text-decoration:none;
    color:black;
}

nav ul li:hover{
    color:#0065FC;
    margin-top:0px;
    border-top: 2px solid #0065FC;
}

.LogoHeader{
    width:61.09px;
    height:100%;
}




/* H1 */

.h1{
    font-size: 22px;
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    margin-right:11px;
}


/* Formulaire */

.formulaire{
    display: inline-flex;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    display: inline-flex;

    /* Encadré */
    border-radius: 1em;
}

input, textarea{
    border: 1px solid #F2F2F2;
    
}

label{
    /* Mesures */
    height: 49px;
    width: 50px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;

    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display:inline-flex ;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Encadré */
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.ButtonSearchDesktopText{
    width: auto;
    height: auto;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    padding:10px;


    /* Font */
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    color: white;

    /* Encadré */
    border: 2px solid #0065FC;
}


.ButtonSearchDesktopIcon{
    display:none;
    width: auto;
    height: auto;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding:12px;

    /* Font */
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    color: white;

    /* Encadré */
    border: 2px solid #0065FC;
}



/* Filtres */

.filters ul{
    display: flex;
    margin-bottom: 10px;
    gap: 40px;
    padding-left: 0px;
}

.filtersgrid{
    display: flex;
    margin-bottom: 10px;
    gap: 4px;
    padding-left: 0px;

    font-size: 17px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

li.filterlist:hover{
    background-color: #DEEBFF;
}

.filtertitle{
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    margin: 5px;
    font-size: 17px;
    font-weight: 900;
}

.filterlist{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 20px 4px 20px;
    height: 48px;
    margin: 5px;

    cursor: pointer;

    transition: background-color 0.07s;

    /* Encadré */
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.filtersicons{
    color: #0065FC;
    margin-right: 8px;
}



/* Groupement des sections 3 et 4 */
.sections3and4{
display: flex;
justify-content: space-between;
}


/* Section 3 */

section.hebergements{
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 39.125rem;
    width: 65%;

    border-radius: 20px;

    background:#F2F2F2
}

.section3container{
    width:92%;
}

h2{
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

span.showmore{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}


/* Section 4 */

.mostpoptitle{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

section.mostpopular{
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 39.125rem;
    width: 32%;

    border-radius: 20px;

    background:#F2F2F2
}

.section4container{
    width:85%;
}



/* Cards */

.allcards1{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-bottom: 40px;
}

.allcards2{
    display:inline-flex;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.allcards3{
    display:inline-flex;
    align-items: center;
    width: 100%;
    height: 444.51px;
    grid-column-gap: 43px;
}

.card1{
    /* Shadow */
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    transition: 0.3s;

    height: 199px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: #FFFFFF;
}

.card2{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    transition: 0.3s;

    height: 144px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;

    background: #FFFFFF;
}

.card3{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    transition: 0.3s;

    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: #FFFFFF;
}

.card1:hover, .card2:hover, .card3:hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
    cursor:pointer;
}

.card1container{
    margin-top: 4px;
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    overflow:auto;
    gap:5px;
}

.card2container{
    margin:14px 14px 7px 14px;
    display: flex;
    flex-direction: column;
    gap:7px;
}

.card3container{
    margin:14px 14px 7px 14px;
    display: flex;
    flex-direction: column;
    gap:7px;
}

.imageshebergements{
    box-sizing: border-box;
    height: 124px;
    width: 100%;
    object-fit:cover;
    flex-shrink: 0;

    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.imagespop{
    box-sizing: border-box;
    height: 144px;
    width: 40%;
    object-fit:cover;
    flex-shrink: 0;

    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.imagesactivites{
    box-sizing: border-box;
    width: 100%;
    height: 395px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
}

h3{
    margin: 0px;
    padding: 0px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

p.prices{
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16px;
}

.stars{
    color:#0065FC;
    display:flex;
    align-self:baseline;
    justify-self:flex-end;
    font-size:12px;
    margin-top: auto;
}

.greystars{
    color:#F2F2F2;
}



/* Section 5 */

.activites{
    margin-top: 50px;
}


/* Footer */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #F2F2F2;
    height: auto;
    width: 100%;
    margin-top: 61px;
}

.allcolumnfooter{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.footertitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 10px;
    text-align: left;
    display:inline-block;
} 

ul.columnfooter{
    display:inline-flex;
    flex-direction: column;
    gap:12px;
}

.allcolumnfooter ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    cursor:pointer;
}



/* TABLETTE */

@media screen and (max-width: 992px){
    body {
        padding-left: 25px;
        padding-right: 35px;
        max-width: 992px;
    }

    .sections3and4{
        display: flex;
        flex-direction: column;
        gap:45px;
    }

    .filters ul{
        display: flex;
        margin-bottom: 10px;
        gap: 5px;
        padding-left: 0px;

        font-size: 15px;
        font-weight: 900;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    section.hebergements{
        display:inline-flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        height: 39.125rem;
        width: 100%;

        border-radius: 20px;

        background:#F2F2F2
    }

    .section4container{
        width:92%;
        align-items: center;
        justify-content: space-around;
    }

    section.mostpopular{
        display:inline-flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        height: 278px;
        width: 100%;

        border-radius: 20px;

        background:#F2F2F2
    }

    .allcards2{
        display:inline-flex;
        align-items: center;
        flex-direction: row;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    h4{
        font-size: 14px;
    }

    .card2container{
        margin: 7px 2px 7px 2px;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    p.prices{
        font-size: 13px;
    }

    .card3{
        height:267px;
    }

    .allcards3{
        display:inline-flex;
        align-items: center;
        width: 100%;
        height: 270px;
        grid-column-gap: 30px;
    }

    .activites{
        margin-top: 35px;
    }

    .imagesactivites{
        box-sizing: border-box;
        width: 100%;
        height: 211px;
    }

    footer{
        overflow:unset;
    }

    .allcolumnfooter{
        display:flex;
        justify-content: space-evenly;
    }
}



/* MOBILE */

@media screen and (max-width: 768px){


    body {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 768px;
        font-family: 'Raleway', sans-serif;
    }

    /* Header */
    
    header {
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-bottom:40px;
    }
    
    nav{
        width:100%;
        margin-left: 0px;
        margin-top:35px;
    }

    nav ul{
        display:inline-flex;
        width:100%;
        padding-left:0px;
        padding-bottom:0px;
    }

    nav ul li{
        display:inline-flex;
        width: 50%;
        cursor: pointer;
        height:35px;
        margin-top:-5px;
        border-bottom: 2px solid #F2F2F2;
        border-top:0px;
        padding-top:0px;
    }
    
    nav ul li:hover{
        color:#0065FC;
        margin-top:-5px;
        transition:0.1s;
        border-bottom: 2px solid #0065FC;
        border-top:0px
    }
    
    .LogoHeader{
        width:61.09px;
        height:100%;
        margin:20px;
    }


    /* h1 */

    h1{
        font-size: 22px;
        display: flex;
        margin-left: 20px;
        margin-right: 57px;
        align-items: center;
    }

    p{
        display: flex;
        margin-left: 20px;
        margin-right: 57px;
    }
    
    .info p{
        margin-left: 0px;
        margin-right: 0px;
    }

    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-left:20px;
        margin-right:10px;
    }
    
    .info i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #D9D9D9;
        margin-right:11px;
    }


    /* formulaire */

    .Research{
        min-width:235px;
        font-size: 19px;
    }

    label{
        width:45px;
    }
    
    .formulaire{
        display: flex;
        justify-content: center;
    }
    
    .ButtonSearchDesktopText{
        display:none;
    }
    
    .ButtonSearchDesktopIcon{
        display:flex;
    }


    /* h2 */
    h2{
    margin-top:25px;
    margin-bottom:25px;
    }


    /* Filtres */

    .filterlist{
        width:92%;
        padding:4px 7px 4px 10px;
        margin-bottom: 10px;
    }

    .filters ul{
        display:inline-flex;
        flex-direction: column;
        width:100%;
        margin-bottom:0px;
    }

    .filtersgrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
        gap: 0px;
        width:100%;
        font-weight: 900;
        line-height: 20px;
        letter-spacing: 0em;
        font-size: 14px;
        justify-items: center;
    }

    .filtertitle{
        margin-left:20px;

    }

    


    /* Reverse 3 et 4 */

    .sections3and4{
        display: inline-flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    
    /* Section 4 */
    section.mostpopular{
        height: auto;
        width: 100%;
    
        border-radius: 0px;

        background:#F2F2F2
    }

    .mostpoptitle h3{
        margin-bottom: 0px;
    }

    .mostpoptitle{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .section4container{
        width:80%;
        display:inline-flex;
        flex-direction: column;
    }
    
    /* Section 3*/
    section.hebergements{
        display:inline-flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        width: 100%;
        background-color: white;
    }
    
    .section3container{
        width:85%;
    }

    span.showmore{
        display:none;
    }


    /* Section 5*/

    .activites{
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 0px;
        width: 100%;
        display:inline-flex;
        flex-direction: column;
    }


    /* Cards */
    .allcards1{
        display:inline-flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        grid-row-gap: 20px;
        height: auto;
        margin-bottom: 40px;
    }

    .allcards2{
        display:inline-flex;
        align-items: center;
        flex-direction: column;
        width:100%;
        height:540px;

    }
    
    .card2container{
        margin: 15px 14px 14px 12px;

    }

    .imagesactivites{
        height:134px;
    }

    .card3{
    height:190px;
    }

    .allcards3{
        display:inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: auto;
        gap: 24px;
    }


    /* Footer */
    .allcolumnfooter{
        display:inline-flex;
        flex-direction: column;

    }

}
>>>>>>> 80def5165c3edad356dd25970f13610c2ff193a2
